@import url('https://api.fontshare.com/v2/css?f[]=panchang@200,300,400,500,600,700,800&format=woff2&display=swap');
@import "tailwindcss";

@theme {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --font-gambarino: var(--font-gambarino);
  --font-panchang: Panchang, sans-serif;
  --color-primary: #D5EF36;
}

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}


body{
  background-color: #D5EF36;
}

